@page "/importtolocal"

@using ReqResLiteDb.Data
@inject UserPersistenceService UserPersistenceService

<h1>Import Users from ReqResIn</h1>

<button @onclick="OnDeleteAll">Delete All</button>
<button @onclick="OnImportAsync">Import</button>


@code {
    void OnDeleteAll()
    {
       UserPersistenceService.DeleteAll();
    }

    async Task OnImportAsync()
    {
       await UserPersistenceService.ImportFromApi();
    }
}
