@page "/"

<h1>LiteDB Demo Project</h1>

<p>Import data from ReqResIn and store locally with LiteDB</p>

<h1>Resources</h1>

<h2>LiteDB</h2>
<ul>
    <li><a href="http://litedb.org">LiteDB</a></li>
    <li><a href="https://www.nuget.org/packages/LiteDB">Nuget</a></li>
    <li><a href="https://github.com/mbdavid/LiteDB">Source Code</a></li>
</ul>

<h2>This project</h2>
<ul>
    <li><a href="https://github.com/rodrigojuarez/blazorlitedbdemo">Source code</a></li>
    <li><a href="https://nightbaker.github.io/blazor/heroku/webassembly/dotnet/2019/12/12/heroku-blazor/">Publish to Heroku a Blazor app from github</a></li>
    <li><a href="https://useiconic.com/open">Blazor included icons</a></li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a></li>
    <li><a href="https://restsharp.dev/">RestSharp</a></li>
</ul>
