@page "/"

<h1>LiteDB</h1>

<h2>What is LiteDB</h2>
<ul>
    <li>Embedded NoSQL database for .NET</li>
    <li>Open source MongoDB-like database</li>
    <li>It's serverless, delivered in a single small DLL, you can copy the dll to your project or use Nuget</li>
</ul>

<h2>Where can we use it</h2>
<ul>
    <li>Xamarin projects</li>
    <li>Desktop & Web apps</li>
</ul>

<h2>Features</h2>
<ul>
    <li>SQL Syntax</li>
    <li>ACID transactions</li>
    <li>Single datafile</li>
    <li>Fluent API</li>
    <li>LINQ query support</li>
    <li>Free for commercial use</li>
    <li>LiteDB.Studio admin tool</li>
</ul>

<h1>Resources</h1>

<h2>LiteDB</h2>
<ul>
    <li><a href="http://litedb.org">LiteDB</a></li>
    <li><a href="https://www.nuget.org/packages/LiteDB">Nuget</a></li>
    <li><a href="https://github.com/mbdavid/LiteDB">Source Code</a></li>
</ul>

<h2>This project</h2>
<ul>
    <li><a href="https://github.com/rodrigojuarez/blazorlitedbdemo">Source code</a></li>
    <li><a href="https://nightbaker.github.io/blazor/heroku/webassembly/dotnet/2019/12/12/heroku-blazor/">Publish to Heroku a Blazor app from github</a></li>
    <li><a href="https://useiconic.com/open">Blazor included icons</a></li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a></li>
    <li><a href="https://restsharp.dev/">RestSharp</a></li>
</ul>
